//sans serif fonts

.sans-roboto{
font-family: $sans-roboto;
}
.sans-sourcepro {
font-family: $sans-sourcepro;
}
.sans-pt {
font-family: $sans-pt;
}
.sans-pavanam {
font-family: $sans-pavanam;
}
.sans-lekton {
font-family: $sans-lekton;
}
.sans-openc {
font-family: $sans-openc;
}
.sans-anton {
font-family: $sans-anton;
}
.sans-exo {
font-family: $sans-exo;
}
.sans-maven {
font-family: $sans-maven;
}
.sans-bench9 {
font-family: $sans-bench9;
}
.sans-philosopher {
font-family: $sans-philosopher;
}
.sans-economica {
font-family: $sans-economica;
}
.sans-antic {
font-family: $sans-antic;
}
.sans-firac {
font-family: $sans-firac;
}
.sans-chathura {
font-family: $sans-chathura;
}
.sans-montsalt {
font-family: $sans-montsalt;
}
.sans-assistant {
font-family: $sans-assistant;
}
.sans-sharetec {
font-family: $sans-sharetec;
}
.sans-miriam {
font-family: $sans-miriam;
}
.sans-athiti {
font-family: $sans-athiti;
}



//serif fonts

.serif-merriweather {
font-family: $serif-merriweather;
}
.serif-droid {
font-family: $serif-droid;
}
.serif-playfair {
font-family: $serif-playfair;
}
.serif-pt {
font-family: $serif-pt;
}
.serif-anonymous {
font-family: $serif-anonymous;
}
.serif-david {
font-family: $serif-david;
}
.serif-rasa {
font-family: $serif-rasa;
}
.serif-dwpica {
font-family: $serif-dwpica;
}
.serif-suez1 {
font-family: $serif-suez1;
}
.serif-firamono {
font-family: $serif-firamono;
}
.serif-scope1 {
font-family: $serif-scope1;
}
.serif-ebgaramond {
font-family: $serif-ebgaramond;
}
.serif-sourcepro {
font-family: $serif-sourcepro;
}
.serif-cutive {
font-family: $serif-cutive;
}
.serif-english {
font-family: $serif-english;
}
.serif-headland1 {
font-family: $serif-headland1;
}